{{#each question.sortedAnswers as |answer|}}
  <div class="panel panel-warning">
    <div class="panel-heading">
      <div class="col-md-3"><h4 class="panel-title">{{answer.user}}</h4></div>
      <div class="right">{{answer.vote}}
        <button class="glyphicon glyphicon-thumbs-up" {{action 'likeAnswer' answer}}></button></div>
    </div>
    <div class="panel-body">
        {{answer.content}}
        <br>
        <p>Posted on {{answer.date_added}}</p>
        <br>
        {{edit-answer answer=answer editAnswer="editAnswer"}}
    </div>
  </div>
{{/each}}
