{{#if editAnswerForm}}
  <h1>Edit Answer</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="user">User</label>
        {{input value=user id="user" placeholder=answer.user}}
      </div>

      <div class="form-group">
        <label for="content">Answer</label>
        {{textarea value=content id="content" placeholder=answer.content}}
      </div>

      <button class="btn btn-info" {{action 'editAnswer' answer}}>Edit</button>
    </form>
  </div>

{{else}}
    <button class="btn btn-info" {{action 'editAnswerShow'}}>Edit Answer</button>
{{/if}}
