<div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title">{{model.subject}}</h2>
  </div>
  <div class="panel-body">
    <p>by {{model.user}}</p>

    <h5>{{model.content}}</h5>

    <p>Posted on {{model.date_added}}</p>

    <div class="col-md-6">
      {{edit-question question=model editQuestion="editQuestion"}}
    </div>
  </div>
</div>

{{new-answer saveAnswer="saveAnswer" question=model}}
<br>
{{answer-detail editAnswer="editAnswer" question=model}}
